body {
  background-color: #b83143;
  color: #14192e;
  font-family: "Playfair Display", serif;
}
.logo {
  border-radius: 100%;
  max-width: 200px;
}
.grid {
  display: grid;
  grid-gap: 10px;
  margin: 10px 0;
  padding: 15px 15px 0;
}
.grid-2-columns {
  grid-gap: 70px;
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns-footer {
  grid-template-columns: 2fr 2fr 2fr;
}
@media (max-width: 900px) {
  .grid-2-columns,
  .grid-3-columns,
  .grid-four-columns,
  .grid-3-columns-footer {
    grid-template-columns: 1fr;
  }
}
